# -*- mode: perl; perl-indent-level: 4; -*-

$Warehouse::blocksize
    = 64*1024*1024;

$Warehouse::warehouses
    = [
       {
	   name => "uncle",
	   controllers => "controller.nrb.freelogy.org:24848",
	   configurl => "http://controller.nrb.freelogy.org:44848/warehouse-client.conf",
       }
       ,
       {
	   name => "templeton",
	   configurl => "http://controller.oxf.freelogy.org:44848/warehouse-client.conf",
	   controllers => "controller.oxf.freelogy.org:24848",
       }
       ];

1;
