Source: libwarehouse-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.0-7), libdbi-perl, libgnupg-interface-perl, libwww-perl
Maintainer: Ward Vandewege <ward@gnu.org>
Standards-Version: 3.6.1

Package: libwarehouse-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libdbi-perl, libwww-perl, libio-stringy-perl, libtimedate-perl, libgnupg-interface-perl, libunix-syslog-perl, libbsd-resource-perl, libio-compress-zlib-perl, libdigest-sha-perl, bioperl, gcc, g++, libstdc++6, bison, perlmagick, imagemagick, gnuplot, bzip2, libbz2-dev, libfftw3-3, libfftw3-dev, libxml-simple-perl, ghostscript, xsltproc, libyaml-perl, libjson-perl
Recommends: libhttp-ghttp-perl, libwhisker2-perl, libfuse-perl
Description:  Warehouse -- Client and Server library for the storage warehouse.
 Warehouse -- Client and Server library for the Free Factory storage warehouse.
