$Warehouse::Server::DatabaseDSN
    = [ "DBI:mysql:database=warehouse;host=localhost",
	"warehouse",
	"DBPASSWORDHERE" ];
$Warehouse::Server::MapReduceDB = 'warehouse';

# $Warehouse::Server::ListenAddress = '127.0.0.1';

1;
