body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	background-color: #FFF;
}

img { border: 0px; }

h1,h2,h3,h4,h5,h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

h1 { font-size: 16px; margin-top: 10px; }
h2 { font-size: 14px; }
h3 { font-size: 12px; }

a{ color: #F37121; text-decoration: underline; }
a:link{ color: #F37121; text-decoration: underline; }
a:visited{ color: #F37121; text-decoration: underline; }
a:hover{ color: #F37121; text-decoration: underline; }

hr { height:1px; color: #DFDFDF; background: #DFDFDF; border: none;}

/***********************************************/
/* Layout Divs                                 */
/***********************************************/

#wrap { 
width: 1360px;
margin: 0 auto;
text-align:left;
position: relative;
 }
 
 #head {
width:350px;
height:130px;
margin: 0px 0px 0px 0px;
padding: 0px;
background-image: url(images/head_back_sm.png); background-repeat: no-repeat;
}
 
#left {
float: left;
clear: none;
width: 350px;
text-align: left;
 }
 
#right {
width: 1000px;
float: right;
margin: 5px 0px 0px 0px;
border: 1px solid #DFDFDF;
background-color: #EEE;
}

/***********************************************/

/* Container Divs                                 */

/***********************************************/

#location_box {
	display: none;
	float: right;
	clear: none;
	width: 200px;
	text-align: right;
	height: 20px;
	font-size: 10px;
	color: #CCC;
}

#little_box {
	border: 1px solid #5FACEF;
	background: #5FACEF;
	display: none;
	position: relative;
	font-size: 6px;
}

#grid_image {
	width: 350px;
	height: 350px;
	margin: 0px;
	padding: 0px;
	cursor:crosshair;
}

#menu {
width: 280px;
float: left;
margin: 2px;
padding: 5px;
border: 1px solid #DFDFDF;
background-color: #FFF;
height: 256px;
overflow: auto;
}

#goto {
width: 350px;
float: left;
background-color: #FFF;
padding: 2px;
height: 40px;
border-bottom: 1px solid #DFDFDF;
}

.blocks { 
height: 30px;
border-bottom: 1px solid #A5A5A5; }

#leftbody {
width: 280px;
float: left; }

#stuff {
width: 320px;
float: right;
}

#image_caption {
padding-left: 5px;
margin-top: 5px;
}

.twoby {
width: 495px;
height: 495px;
display: block;
float: left;
clear: right;
padding-right: 5px;
padding-bottom: 5px;
}

.fourby {
width: 245px;
height: 245px;
display: block;
float: left;
clear: right;
padding-right: 5px;
padding-bottom: 5px;
}
