Options +ExecCGI +Includes
AddHandler cgi-script .cgi
DirectoryIndex index.cgi
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !/cache/images/.
RewriteCond %{REQUEST_FILENAME} cache|session/
RewriteRule . / [F]

<Files ~ "admin|download|snpdig">
  Satisfy all
  Require valid-user
</Files>
