<Files ~ "^(upload\.cgi|manifest\.php|manifest\.cgi|download\.cgi|framegrid.cgi|cyclelist\.cgi|getimage\.cgi|)$">
  # "DontRequire valid-user" is really what we want here.  "Satisfy
  # any" allows hosts in "Deny from" to access these files with http
  # authentication.
  Satisfy any
</Files>

RewriteEngine On
RewriteCond %{HTTP_HOST} "pmage-wt-403-8\..*"
RewriteRule ^ - [C,E=DSID:pmage_wt_403_8]
RewriteCond %{REQUEST_URI} ^/$
RewriteRule .* /genomerator/ [R]
