# Sample config file for polony-tools

$main::lockfile_prefix = "/var/lock/lock.polony-tools.";

$main::svn_repos = "http://tomc/repos/tomc/polony-tools/trunk";

# Don't use localhost for trackers!  Use a name that resolves on the compute
# nodes as well as the controller node.

@main::mogilefs_trackers = ("localhost:6001");
$main::mogilefs_default_domain = "images";
$main::mogilefs_default_class = "single";
$main::mogilefs_dsn = "DBI:mysql:database=mogilefs;host=localhost";
$main::mogilefs_username = "mogile";
$main::mogilefs_password = "secXret";

$main::analysis_dsn = "DBI:mysql:database=analysis;host=localhost";
$main::analysis_mysql_database = "analysis";
$main::analysis_mysql_username = "analysis";
$main::analysis_mysql_password = "secXret";

$main::mapreduce_dsn = "DBI:mysql:database=mapreduce;host=dbhost";
$main::mapreduce_mysql_database = "mapreduce";
$main::mapreduce_mysql_username = "mapreduce";
$main::mapreduce_mysql_password = "secXret";

$main::computenode_mysql_username = "computenode";
$main::computenode_mysql_password = "secXret";

%main::remote_lims
= ('lims1' => { 'trackers' => ['remotehost1a:6001'],
		'default_domain' => 'images',
		'default_class' => 'single',
		'dsn' => 'DBI:mysql:database=mogilefs;host=remotedbhost-a',
		'username' => 'mogile',
		'password' => 'secXret' }
   ,
   'lims2' => { 'trackers' => ['remotehost2a:6001', 'remotehost2b:6001'],
		'default_domain' => 'images',
		'default_class' => 'single',
		'dsn' => 'DBI:mysql:database=mogilefs;host=remotedbhost-b',
		'username' => 'mogile',
		'password' => 'secXret' }
   );

@main::copyto_mogilefs_trackers = ("remotehost:6001");
$main::copyto_mogilefs_default_domain = "images";
$main::copyto_mogilefs_default_class = "single";
$main::copyto_mogilefs_dsn = "DBI:mysql:database=mogilefs;host=remotehost";
$main::copyto_mogilefs_username = "mogile";
$main::copyto_mogilefs_password = "secXret";

1;
