<?php

$update_lockfile = "/var/lock/cluster-update";

$mogilefs_trackers = array ("trackerhost1:6001","trackerhost2:6001");

$mogilefs_mysql_host = "localhost";
$mogilefs_mysql_database = "mogilefs";
$mogilefs_mysql_username = "mogile";
$mogilefs_mysql_password = "secXret";

$analysis_mysql_host = "localhost";
$analysis_mysql_database = "analysis";
$analysis_mysql_username = "analysis";
$analysis_mysql_password = "secXret";

?>