# -*- mode: perl; perl-indent-level: 4; -*-

$Warehouse::blocksize = 64*1024*1024;

$Warehouse::warehouse_servers
    = "warehouse.server.host.name:24848";
$Warehouse::keep_controller_ip
    = "ip.ad.dr.ess";		# allowed to delete blocks from Keep

$Warehouse::mogilefs_trackers = "mogilefs.tracker.host.name:6001";
$Warehouse::mogilefs_domain = "warehouse";
$Warehouse::mogilefs_directory_class = "directory"; # recommend mindevcount=3
$Warehouse::mogilefs_file_class = "file"; # recommend mindevcount=2

$Warehouse::warehouses
    = [
       {
	   name => "uncle",
	   controllers => "uncle-controller.nrb.freelogy.org:24848",
	   mogilefs_trackers => "uncle-controller.nrb.freelogy.org:6001",
	   mogilefs_domain => "warehouse",
	   mogilefs_directory_class => "directory",
	   mogilefs_file_class => "file",
	   keeps => [ map { "uncle$_" } (3,4,6..13) ],
       }
       ,
       {
	   name => "templeton",
	   controllers => "templeton-controller.oxf.freelogy.org:24848",
	   mogilefs_trackers => "templeton-controller.oxf.freelogy.org:6001",
	   mogilefs_domain => "warehouse",
	   mogilefs_directory_class => "directory",
	   mogilefs_file_class => "file",
	   keeps => [ map { "templeton$_" } (2..48) ],
       }
       ];

1;
