<?php

# Sample config file for polony-tools

$lockfile_prefix = "/var/lock/lock.polony-tools.";

# Don't use localhost for trackers!  Use a name that resolves on the compute
# nodes as well as the controller node.

$mogilefs_trackers = array ("trackerhost1:6001","trackerhost2:6001");

$mogilefs_mysql_host = "localhost";
$mogilefs_mysql_database = "mogilefs";
$mogilefs_mysql_username = "mogile";
$mogilefs_mysql_password = "secXret";

$analysis_mysql_host = "localhost";
$analysis_mysql_database = "analysis";
$analysis_mysql_username = "analysis";
$analysis_mysql_password = "secXret";

$svn_repos = "http://dev.freelogy.org/svn/polony/polony-tools/trunk";

?>
